* {
  padding: 0;
  margin: 0;
}

body { 
  padding: 0;
  margin: 0;
}

h1 { 
  font-size: 20px;
  color: green;
}

h2 { 
  font-size: 20px;
  color: green;
}

.container{
  margin-left: 100px;
  margin-top: 50px;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: blue;
}

.nav {
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
  margin-top: 50px;
}

.navEl {
  margin-top: 20px;
}

.headerContainer {
  width: calc(100% - 100px);
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background: red;
}

.projectTitle {
  position: absolute;
  left: 20px;
}

.login {
  position: absolute;
  right: 20px;
}

.categoriesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.previewContainer {
  
}

.previewNumbers {
  /*position: absolute;*/
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.linegraph {
  position: relative;

  margin-top: 100px;
  margin-left: 150px;
  width: 60%;
}

.categorySharesContainer{
  margin-left: 100px;
  margin-top: 50px;
}

.paymentsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer{
  width: calc(100% - 100px);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}